/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Playfair+Display:400,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

body {
  line-height: 27px;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: normal;
  color: #797979; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold; }

button:focus {
  outline: none;
  box-shadow: none; }

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.pad_top {
  padding-top: 120px; }

.mt-25 {
  margin-top: 25px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.area-padding-top {
  padding-top: 130px; }

.area-padding-bottom {
  padding-bottom: 130px; }

.background_one {
  background: #f7f7f7; }

.border-bottom {
  border-bottom: 1px solid #e8edf1; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0; }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } }

/*----------------------------------------------------*/
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .logo_h {
      color: #fff;
      height: 80px;
      text-align: center;
      line-height: 69px;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700; }
    .header_area .navbar .navbar-brand {
      padding-top: 0; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 12px/80px "Open Sans", sans-serif;
        text-transform: uppercase;
        color: #020a21;
        padding: 0px;
        display: inline-block;
        font-size: 14px; }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: #0051d2; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff;
          box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px; } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
          .header_area .navbar .nav .nav-item.submenu ul .nav-item {
            display: block;
            float: none;
            margin-right: 0px;
            border-bottom: 1px solid #ededed;
            margin-left: 0px;
            transition: all 0.4s linear; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
              line-height: 45px;
              color: #020a21;
              padding: 0px 30px;
              transition: all 150ms linear;
              display: block;
              margin-right: 0px; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
              border-bottom: none; }
            .header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
              background: #0051d2;
              color: #fff; }
        @media (min-width: 992px) {
          .header_area .navbar .nav .nav-item.submenu:hover ul {
            visibility: visible;
            opacity: 1;
            top: 100%; } }
        .header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
          margin-top: 0px; }
      .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0px; }
  .header_area + section, .header_area + row, .header_area + div {
    margin-top: 122px; }
  .header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1); }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
      line-height: 70px; }
    
.active {
  background-color: #bababa;
  border-radius: 5px
}

.top_menu {
  border-bottom: 1px solid #e8edf1; }
  .top_menu .header_social {
    float: right; }
    .top_menu .header_social li {
      display: inline-block;
      margin-right: 15px; }
      .top_menu .header_social li a {
        font-size: 13px;
        color: #797979;
        display: inline-block;
        line-height: 42px;
        transition: all 300ms linear 0s; }
      .top_menu .header_social li:last-child {
        margin-right: 0px; }
      .top_menu .header_social li:hover a {
        color: #0051d2; }
      @media (max-width: 991px) {
        .top_menu .header_social li {
          margin-right: 7px; } }
  .top_menu .dn_btn {
    line-height: 42px;
    display: inline-block;
    font-size: 14px;
    margin-right: 50px;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    color: #797979;
    transition: all 300ms linear 0s; }
    .top_menu .dn_btn:hover {
      color: #0051d2; }
    .top_menu .dn_btn:last-child {
      margin-right: 0px; }
    .top_menu .dn_btn i {
      margin-right: 10px; }
    @media (max-width: 991px) {
      .top_menu .dn_btn {
        margin-right: 5px;
        font-size: 13px; } }
  .top_menu .follow_us {
    float: left;
    color: #777;
    font-size: 14px;
    line-height: 42px;
    margin-right: 17px; }

@media (max-width: 767px) {
  .top_menu {
    display: none; } }
.right-button {
  margin-left: 60px;
  margin-top: 15px; }
  .right-button ul {
    padding: 0;
    list-style: none; }
    .right-button ul li {
      display: inline-block;
      margin-left: 30px;
      font-size: 16px; }
      .right-button ul li a {
        color: #777; }
  .right-button .shop-icon {
    position: relative; }
    .right-button .shop-icon span {
      position: absolute;
      background: #e22104;
      right: -10px;
      top: -4px;
      border-radius: 50px;
      color: #fff;
      width: 15px;
      height: 15px;
      font-size: 10px;
      text-align: center;
      line-height: 14px; }
  @media (max-width: 991px) {
    .right-button {
      display: none; } }

#search_input_box {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1200px;
  z-index: 999;
  text-align: center;
  padding: 0 20px;
  background: #0051d2; }
  #search_input_box ::placeholder {
    color: #fff; }

#search_input_box .form-control {
  background: transparent;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  padding: 0; }

#search_input_box .btn {
  width: 0;
  height: 0;
  padding: 0;
  border: 0; }

#search_input_box .ti-close {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 10px; }

.search-inner {
  padding: 5px 15px; }

.form-control:focus {
  box-shadow: none; }

.navbar_fixed #search_input_box {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 1140px;
  z-index: 999;
  text-align: center;
  padding: 0 20px;
  top: 80px; }

.feature-section {
  background: url(../img/banner/pattern_bg.jpg) no-repeat center cover;
  background-size: cover;
  padding: 60px 0; }
  @media (max-width: 767px) {
    .feature-section {
      padding: 60px 0 30px; } }

.card-feature {
  padding: 40px 35px;
  border: 0;
  border-radius: 0;
  background: #fff;
  transition: all 300ms linear 0s; }
  @media (max-width: 1200px) {
    .card-feature {
      padding: 30px 20px; } }
  @media (max-width: 1200px) {
    .card-feature {
      margin-bottom: 30px; } }
  .card-feature__icon {
    margin-bottom: 12px;
    display: inline-block;
    transform: translateY(4px); }
    .card-feature__icon i {
      color: #0051d2;
      font-size: 26px;
      margin-right: 15px; }
    @media (max-width: 991px) {
      .card-feature__icon {
        display: block; } }
  .card-feature__title {
    font-size: 20px;
    font-weight: 600;
    color: #020a21; }
    @media (max-width: 1200px) {
      .card-feature__title {
        font-size: 18px; } }
    @media (max-width: 991px) {
      .card-feature__title {
        font-size: 16px; } }
  .card-feature__subtitle {
    margin-bottom: 0;
    color: #797979; }
  .card-feature:hover {
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(33, 20, 106, 0.1); }

/* Home Banner Area css
============================================================================================ */
/* 5. Banner */
.detail-banner {
  height: calc(100vh - 69px);
  background: url("../img/detail_bg.jpg");
  /*background-color: #e4e5e6;*/
}
.detail-banner p,li {
    font-size: 20px;
    color: #4d4e4f;}

.detail-banner b {
    font-size: 25px;
    color: #4d4e4f;}

.detail-banner .title {
  height: 130px;
  padding: 30px;
}
.detail-banner .upload_btn {
  height: 60px;
  width: 200px;
  border-radius: 10px;
  padding: 5px;
  background-color: #0f61ee;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #0f61ee;
  cursor: pointer;
  transition: all 300ms linear 0s;
  margin: 5% 0;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.title h1 {
  font-family: Open Sans;
  color: #4d4e4f;
  text-align: center;
  margin: auto;
  font-weight: 600;
}
.detail-banner .upload_title {
  height: 180px;
  padding: 50px;
  margin-bottom: 20px;
  text-align: center
}

.banner-area {
  height: calc(100vh - 69px);
  background-image: url("../img/21715.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  @media (max-width: 767px) {
    .banner-area {
      min-height: 600px; } }
  .banner-area h1 {
    color: #000;
    font-weight: 600;
    font-family: Open Sans;
    margin-bottom: 30px; }
  .banner-area h3 {
    color: #000;
    font-weight: 600;
    font-family: Open Sans;
    margin-bottom: 30px;
  }
  .banner-area img {
   width: 23%; 
   margin-right: 5px
  }
  .banner-area a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%
  }

  .banner-area h6 {
    font-weight: 600;
    margin-bottom: 30px;
    font-family: Open Sans;
    color: #575555;
  }
    @media (max-width: 767px) {
      .banner-area h1 {
        font-size: 26px; } }
  .banner-area p {
    font-size: 16px;color: white; font-family: Open Sans; margin-bottom: 0
}
    /* @media (min-width: 576px) and (max-width: 767px) {
      .banner-area p {
        padding-right: 113px; } 
      } */
  .banner-area .main_btn {
    display: inline-flex;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #0f61ee;
    border-color: #0f61ee;
    margin-right: 10px;
  }
    @media (max-width: 575px) {
      .banner-area .main_btn {
        margin-bottom: 10px; } }
  .banner-area .main_btn_light {
    display: inline-flex;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #0f61ee;
    border-color: #0f61ee;
    margin-right: 10px;
  }
    @media (max-width: 575px) {
      .banner-area .main_btn_light {
        margin-bottom: 10px; } }


/* End Home Banner Area css
============================================================================================ */

/* Main Button Area css
============================================================================================ */
.main_btn {
  display: inline-block;
  background: #0051d2;
  padding: 0px 18px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #0051d2;
  cursor: pointer;
  transition: all 300ms linear 0s; }


.main_btn_light {
  display: inline-block;
  border: 1px solid #0051d2;
  padding: 0px 18px;
  color: #33363e;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  border-radius: 0px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  border: 1px solid #0051d2;
  cursor: pointer;
  transition: all 300ms linear 0s; }

.form-upload {
  display: flex;
  flex-direction: column;
  align-items: center
}
.form-upload .body {
  font-family: sans-serif;
  background-color: #eeeeee;
}
.form-upload .file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
}
.form-upload .file-upload-content {
  display: none;
  text-align: center;
}
.form-upload .file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.form-upload .image-upload-wrap {
  margin-top: 20px;
  border: 3px dashed #0f61ee;
  position: relative;
}

.form-upload .image-dropping,
.form-upload .image-upload-wrap:hover {
  background-color: transparent;
  border: 3px dashed #0f61ee;
}

.form-upload .image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.form-upload .drag-text {
  text-align: center;
}

.form-upload .drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #0f61ee;
  padding: 60px 0;
}

.form-upload .file-upload-image {
  max-height: 70%;
  max-width: 70%;
  margin: auto;
  padding: 20px;
}

.form-upload .remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #d91c48;
  border: none;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 5px solid #d91c48;
  transition: all .2s ease;
  outline: none;
  font-weight: 700;
}

.form-upload .remove-image:hover {
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}
.form-upload.remove-image:active {
  border: 0;
  transition: all .2s ease;
}