<!doctype html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
    <style>
        .dropbtn {
          background-color: white;
          padding: 9px;
          border-radius: 5px;
          font-size: 16px;
          border: 5px;
          cursor: pointer;
        }
        
        .dropbtn:hover, .dropbtn:focus {
          background-color: #bababa;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 150px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown a:hover {
          background-color: #bababa;
        }
        
        .show {display: block;}
        </style>
    {% endblock %}
</head>

<body>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand logo_h" href="{{ url_for('home_page')}}"><img src="{{ url_for('static', filename='img/logo_icon.png') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto" >
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('home_page')}}" style="color: #000000;font-size: 16px;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('guide')}}" style="color: #000000;font-size: 16px;">Guidance</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.vinmec.com/vi/tin-tuc/thong-tin-suc-khoe/benh-vong-mac-dai-thao-duong/" style="color: #000000;font-size: 16px;">Information</a></li>
                        {% if g.user  %}
                        <div class="dropdown">
                        <button onclick="myFunction()" style="color: #000000;" class="dropbtn">Xin chào {{g.user.name__given}} {{g.user.name__family}}</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Xem thông tin</a>
                            <a  href="{{ url_for('logout')}}">Logout</a>
                        </div>
                        </div>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login')}}" style="color: #000000;font-size: 16px;">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
  </body>
  <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  function showLoginMessage() {
    alert("Please login to use application!");
  }
    </script>
  </html>