{% extends "base.html" %}
{% block title %}Dr.V - Kết quả dự đoán{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<section class="detail-banner">
<div class="container" style="max-width: 1800px">
    <div class="upload_title">
        <h1>DR. V Consultation</h1>
        <p>DR. V is an application using artificial intelligence for supporting the diagnosis of diabetic retinopathy.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
                <img style = "height: 650px" src="data:{{image.get('file_name')}};base64, {{image.get('content')}}">
        </div>
        <div class="col-md-6">
            <p><b style="color: #0051d2">{{stage_info.get("title")}}</b></p>
            {% if stage_info.get("lesion") != None %}
            <ul style="list-style-type:disc; margin-left: 50px">
                <li>Lesion:</li>
                    <ul style="list-style-type:square; margin-left: 50px">
                    {% for info in stage_info.get("lesion")%}
                        <li>{{info}}</li>
                    {% endfor %}
                </ul>
                <li>Affect:</li>
                <ul style="list-style-type:square; margin-left: 50px">
                    {% for info in stage_info.get("affect")%}
                        <li>{{info}}</li>
                    {% endfor %}
                </ul>
            </ul>
            {% endif%}
            <div style="display: flex; justify-content: center;">
                <button class="upload_btn">
                    <a href="{{ url_for('upload_image')}}">
                        <p style="color: #ffffff; font-family: Open Sans">Upload image</p>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
</section>
</body>
{% endblock %}
