{% extends "base.html" %}
{% block title %}Dr.V - Guidance{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<section class="ftco-section-2 img" style="background-image: url({{ url_for('static', filename='img/guidance_bg.jpg') }});">
    <div class="container">
        <div class="row d-md-flex justify-content-end">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-11">
                        <a href="#" class="services-wrap ftco-animate">
                            <h2>1. Fundus microscopy</h2>
                            <p>Use specialized tools to ophthalmoplegia patients that are suspected of diabetic retinopathy.</p>
                            <p>Fundoscopy of patients must comply with professional regulations.</p>
                            <p><b>Attention:</b>Application only supports diagnosis for diabetic retinopathy. For other diseases that are not allowed to funduscopy, do not try.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate" >
                            <h2>2. Send information</h2>
                            <p>Send fundoscopy images of patients following instructions via the application on the website.</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate" >
                            <h2>3. Receive consultation</h2>
                            <p>Based on the information you provide, we give diagnosis corresponding to the following levels:</p>
                            <p style="margin-left: 20px"><b>0</b> - Normal: The system does not detect anything unusual from fundoscopy images<p>
                            <p style="margin-left: 20px"><b>1</b> - Mild Nonproliferative Retinopathy</p>
                            <p style="margin-left: 20px"><b>2</b> - Moderate Nonproliferative Retinopathy</p>
                            <p style="margin-left: 20px"><b>3</b> - Severe Nonproliferative Retinopathy</p>
                            <p style="margin-left: 20px"><b>4</b> - Proliferative Retinopathy</p>
                        </a>
                        <a href="#" class="services-wrap ftco-animate" >
                            <h2>4. Give therapy</h2>
                            <p>Based on consultation results, give patients the appropriate treatment.</p>                               
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/aos.js') }}"></script>
<script src="{{ url_for('static', filename='js/scrollax.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
