{% extends "base.html" %}
{% block title %}Dr.V - Home Page{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<section class="banner-area d-flex align-items-center">
  <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
              <h1>APPLY ARTIFICIAL INTELLIGENCE<br>
                IN DISEASE DIAGNOSIS</h1>
              <h6>Application in supporting diagnosing each stage of diabetic retinopathy, towards reducing <br> eye diseases and blindness.</h6>
              {% if g.user  %}
              <button type="submit" class="main_btn" id="attachment">
              <a href="{{ url_for('upload_image')}}">
              {% else %}
              <button type="submit" class="main_btn" id="attachment">
              <a href="{{ url_for('login')}}">
              {% endif %}
                  <img src="{{ url_for('static', filename='img/upload.png') }}">
                    <p>Upload image</p>
              </a>
              </button>
          </div>
          <div class="col-md-8 col-lg-6 col-xl-5"></div>
      </div>
  </div>
</section>
{% endblock %}
