{% extends "base.html" %}
{% block title %}Dr.V - Hỗ trợ chẩn đoán{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<section class="detail-banner">
    <div class="container" style="max-width: 1800px">
        <div class="upload_title">
          <h1>DR. V Consultation</h1>
          <p>DR. V is an application using artificial intelligence for supporting the diagnosis of diabetic retinopathy.</p>
        </div>
        <form method="POST" action="{{ url_for('diagnose_dr') }}" class = "form-upload" enctype="multipart/form-data">
            <div class="file-upload">
                <div class="image-upload-wrap">
                  <input class="file-upload-input" name="file" type='file' onchange="readURL(this);" accept="image/*" />
                  <div class="drag-text">
                    <h3>Drag or drop an image</h3>
                  </div>
                </div>
                <div class="file-upload-content">
                  <img class="file-upload-image" src="#" alt="your image" />
                  <div class="image-title-wrap">
                    <button type="button" onclick="removeUpload()" class="remove-image">Remove</button>
                  </div>
                </div>
              </div>
            <button class="upload_btn" type="submit" >
                <p style="color: #ffffff; font-family: Open Sans;">Send information</p>
            </button>    
          </form>
</section>

</body>
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}
function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
});

</script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% endblock %}
